*{ margin:0; padding:0;}
ul,ol,li{ list-style: none;}
body{background-color: rgba(144, 253, 144,0.3);}
h1{height:300px;line-height:300px;text-align: center;font-size:50px;color:#12d65d;}
#reg{padding:10px 0 0 10px;width:400px;height:400px; margin:0 auto;}
li{height:40px;font-size:24px;}
input{height:40px;}
.a{height:50px;margin-left:20px;width:100px;text-align:center;}
.b{background-color: #12d65d;width:340px;height:50px;font-size:30px;}
#reg .msg{ margin-top:40px;margin-left:30px; font-size:26px;}
#footer{margin-top:60px;text-align:center;height:20px;line-height:20px;}
#footer span{color:rgb(191, 192, 192)}